.wedding-detail {
  background-color: rgb(214, 187, 110);
  height: fit-content;
  padding-bottom: 30px;
  padding-top: 30px;
  .title {
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  .time-and-place {
    margin: auto;
    text-align: center;
    width: 90%;
    .time-block {
      width: 50%;
      border-right: 1px solid;
    }
    .place-block {
      width: 50%;
    }
  }
}

@media screen and (max-width: 670px) {
  .wedding-detail {
    .title {
      font-size: 10vw;
    }
    .time-and-place {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      p {
        font-size: 4vw;
      }
      div {
        padding: 0px;
      }
      .time-block {
        width: 60%;
        border-right: none;
      }
      .place-block {
        width: 60%;
      }
    }
  }
}
