@font-face {
  font-family: "DancingScript";
  src: url("../public/fonts/DancingScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DancingScript-Bold";
  src: url("../public/fonts/DancingScript-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DancingScript-SemiBold";
  src: url("../public/fonts/DancingScript-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "DancingScript-Medium";
  src: url("../public/fonts/DancingScript-Medium.ttf") format("truetype");
}
